/* Globales */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --blanco: #fff;
    --rojo: #fd2f44;
    --azul: #5a6d80;
    --gris: #91969b;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h3,
h4,
a {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    color: var(--blanco);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/* header */
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.barra {
    padding-top: 40px;
}

.header {
    height: 85vh;
    background-image: url(banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo__post {
    height: 130px;
}

.nav__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

.texto {
    text-align: start;
    color: var(--blanco);
    margin-top: 30px;
    margin-left: 20px;
}

/* seccion about us */
.about {
    background-color: var(--gris);
    padding: 40px 0;
}

.about__texto-p {
    margin: 0 50px;
}

.about__texto {
    font-size: 60px;
}

.about__texto,
.about__texto-p {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fd2f44;
}

/* seccion de productos */
.pro {
    padding: 40px 0;
}

.pro__texto {
    font-size: 60px;
}

.pro__texto,
.pro__texto-p {
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--azul);
}

.pro__texto-p {
    padding-bottom: 20px;
}

.products {
    color: var(--rojo);
    font-size: 35px;
    text-transform: uppercase;
    padding: 38% 0 0 15px;
}

.guns {
    display: block;
    justify-content: center;
    margin-left: 90px;
}

.caja1 {
    display: flex;
}

.rifle {
    display: flex;
    background-image: url(rifle.jpg);
    cursor: pointer;
    background-size: cover;
    width: 40%;
    margin-right: 10px;
}

.handgun {
    background-image: url(handgun.jpg);
    cursor: pointer;
    background-size: cover;
    width: 310px;
    height: 100%;
    margin-right: 14px;
}

.hand {
    padding: 58% 0 0 10px;
    color: var(--rojo);
    font-size: 35px;
    text-transform: uppercase;
}

.ammo {
    background-image: url(ammo.jpg);
    cursor: pointer;
    background-size: cover;
    width: 300px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.amm {
    padding: 60% 0 0 10px;
    color: var(--rojo);
    font-size: 35px;
    text-transform: uppercase;
}

.caja2 {
    display: flex;
    margin: 8px 0;
}

.clean {
    background-image: url(limpieza.jpg);
    cursor: pointer;
    background-size: cover;
    height: 235px;
    width: 300px;
    margin-right: 10px;
}

.clea {
    padding: 64% 0 0 10px;
    color: var(--rojo);
    font-size: 35px;
    text-transform: uppercase;
}

.revolver {
    background-image: url(revolver.jpg);
    cursor: pointer;
    background-size: cover;
    height: 235px;
    width: 300px;
    margin-right: 10px;
}

.rev {
    padding: 64% 0 0 10px;
    color: var(--rojo);
    font-size: 35px;
    text-transform: uppercase;
}

.sniper {
    display: flex;
    background-image: url(sniper.jpg);
    cursor: pointer;
    background-size: cover;
    height: 235px;
    width: 484px;
    margin: 8px 0;
}

.snip {
    padding: 40% 0 0 10px;
    color: var(--rojo);
    font-size: 35px;
    text-transform: uppercase;
}

.shotgun {
    background-image: url(shotgun.jpg);
    cursor: pointer;
    background-size: cover;
    height: 300px;
    width: 94%;
}

.shot {
    padding: 23% 0 0 10px;
    color: var(--rojo);
    font-size: 35px;
    text-transform: uppercase;
}

/* formulario */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
}

.form form {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    padding-top: 3%;
    margin-right: 10%;
}

.contact {
    font-size: 60px;
}

.name {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.last-n {
    display: flex;
    flex-direction: column;
    margin-left: 180px;
}

.fline {
    display: flex;
}

.fline input {
    margin-bottom: 3%;
    width: 200%;
    height: 5vh;
    outline: none;
    border-style: none;
    box-shadow: 0px 0px 9px white, 0px 0px 5px var(--rojo);
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 15px;
}

.fline label {
    font-size: 1.5rem;
    ;
    margin-bottom: 4%;
}

.form h1 {
    font-size: 4.5rem;
    padding-top: 5%;
    color: var(--rojo);
    margin: 0 auto;
}

.email {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.email label {
    margin-bottom: 2%;
    margin-top: 3%;
}

.email input {
    outline: none;
    border-style: none;
    width: 127%;
    height: 5vh;
    box-shadow: 0px 0px 9px var(--blanco), 0px 0px 5px var(--rojo);
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 15px;
}

.msg {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.msg label {
    margin-bottom: 3%;
    margin-top: 4%;
}

.msg input {
    height: 25vh;
    width: 34vw;
    outline: none;
    border-style: none;
    box-shadow: 0px 0px 9px var(--blanco), 0px 0px 5px var(--rojo);
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: start;
}

.btnsub {
    color: var(--blanco);
    background-color: var(--rojo);
    height: 60px;
    width: 180px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin: 20% 0 0 45%;
    box-shadow: 0 0 3px black;
}

.btnsub:hover {
    transition: .4s;
    background-color: var(--rojo);
    color: var(--blanco);
    box-shadow: 0px 0px 35px var(--rojo), 0px 0px 15px var(--rojo);
}

textarea {
    width: 127%;
    outline: none;
    border-style: none;
    box-shadow: 0px 0px 9px white, 0px 0px 5px var(--rojo);
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: start;
    resize: none;
    padding-top: 15px;
    padding-left: 15px;
}

/* footer */

.f1 {
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: var(--gris);
    margin-top: 50px;
    height: 90px;
}

.icons i {
    color: var(--rojo);
    font-size: 30px;
    display: inline;
    margin-bottom: 30%;
    cursor: pointer;
}

.icons {
    margin-left: 42%;
    display: inline-flex;
    margin-bottom: 25px;
    margin-top: 60px;
}

.lab {
    margin-right: 50px;
}

.icono {
    margin-right: 70px;
    color: var(--azul);
}

/* media querys */

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

@media (max-width: 768px) {
    .texto {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {

    .caja1,
    .caja2 {
        display: block;
    }

    .rifle {
        width: 86%;
        height: 225px;
        margin-bottom: 8px;
    }

    .phone {
        display: grid;
        grid-template-columns: 50% 51%;
    }

    .handgun {
        width: 87%;
    }

    .ammo {
        width: 79%;
        margin-left: -24px;
    }

    .clean {
        width: 87%;
    }

    .revolver {
        width: 79%;
        margin-left: -24px;
    }

    .sniper {
        position: absolute;
        right: 100px;
    }

    .shotgun {
        width: 86%;
        margin-top: 265px;
        background-size: cover;
    }
}

@media (max-width: 768px) {
   .fline {
    display: flex;
    justify-content: space-between;
   }

   .btnsub {
    position: relative;
    right: 50px;
   }

   .last-n {
    margin-left: 130px;
   }
}

